<!doctype html>

<!--

/**
* Copyright 2012 Facebook, Inc.
*
* You are hereby granted a non-exclusive, worldwide, royalty-free license to
* use, copy, modify, and distribute this software in source code or binary
* form for use in connection with the web services and APIs provided by
* Facebook.
*
* As with any software that integrates with the Facebook platform, your use
* of this software is subject to the Facebook Developer Principles and
* Policies [http://developers.facebook.com/policy/]. This copyright notice
* shall be included in all copies or substantial portions of the software.
*
* THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
* THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
* FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
* DEALINGS IN THE SOFTWARE.
*
*/
-->

<html>
  <head prefix='og: http://ogp.me/ns#
                opngrpe: http://ogp.me/ns/fb/opngrpe#'>
    <title><%= title %></title>
    <meta property='og:type' content='opngrpe:wine' />
    <meta property='og:site_name' content='Open Grape' />
    <meta property='og:title' content='<%= title %>' />
    <meta property='og:description' content='<%= description %>' />
    <meta property='og:image' content='<%= image %>'/>
    <meta property='og:url' content='<%= objectUrl('wine', id) %>' />
    <meta property='opngrpe:vintage' content='<%= vintage %>' />
    <meta property='opngrpe:region' content='<%= region %>' />
    <meta property='opngrpe:tasting' content='<%= tasting %>' />
    <% grapes.forEach(function(grape) { %>
      <meta property='opngrpe:grape'
            content='<%= objectUrl('grape', grape) %>' />
    <% }); %>

    <meta
      name='viewport'
      content=
        'width=device-width,
        maximum-scale=1,
        minimum-scale=1,
        initial-scale=1,
        user-scalable=no'
    />
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <link rel='stylesheet' href='/opengrape.css' type='text/css' />
    <script type='text/javascript' src='/opengrape.js'></script>
  </head>
  <body>
    <article>
      <heading>
        <h1><%= title %></h1>
      </heading>
      <p>
        Welcome to Open Grape.
      </p>
      <p>
        <%= description %>
      </p>
      <img src='<%= image %>' />
      <footer>
        <a class='prev' href='<%= objectUrl('wine', prev) %>'>Prev</a>
        <a class='next' href='<%= objectUrl('wine', next) %>'>Next</a>
        <button></button>
      </footer>
    </article>
    <div id='fb-root'></div>
  </body>
</html>